<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083939815756-26j2sk976gnkes23u98hhdck95dlbtjf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083939815756-26j2sk976gnkes23u98hhdck95dlbtjf</string>
	<key>API_KEY</key>
	<string>AIzaSyDSYIHmkUVbfrSwY9CAF8irAWel4S1ENTs</string>
	<key>GCM_SENDER_ID</key>
	<string>1083939815756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.daily-affirmation</string>
	<key>PROJECT_ID</key>
	<string>affirmation-82325</string>
	<key>STORAGE_BUCKET</key>
	<string>affirmation-82325.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083939815756:ios:1d7104895dd9838a2f0fe9</string>
</dict>
</plist>